*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #2d3436;
    display: flex;
    justify-content: center;
    h1{
        font-size: 4rem;
        padding: 1rem;
        color: #fff;
    }
}
.footer{
    background-color: #2d3436;
    justify-content: center;
    margin-bottom: auto;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    h3{
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
    }
}